In [2]:
import pandas as pd
df = pd.read_excel('marketpele_ab_test.xlsx')

In [4]:
sess_df = df.groupby(['date','group_name'])['sessions'].sum().reset_index()
display(sess_df.head())

        date group_name  sessions
0 2019-03-01          A    140626
1 2019-03-01          B    140176
2 2019-03-02          A    139401
3 2019-03-02          B    139335
4 2019-03-03          A    142512